In [2]:
!pip install selenium

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
    100% |████████████████████████████████| 911kB 9.6MB/s eta 0:00:01
Requirement already satisfied: urllib3 in /Users/MacBookPro/anaconda3/lib/python3.6/site-packages (from selenium) (1.22)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [3]:
from selenium import webdriver

In [14]:
import os
os.getcwd()

'/Users/MacBookPro/Desktop/NW_DS/Northwestern-DS/project-one'

In [22]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://untappd.com/login')

username = driver.find_element_by_id("username")
password = driver.find_element_by_id("password")

username.send_keys("ayang2012")
password.send_keys("mulciber1")

driver.find_element_by_css_selector(".button.yellow.submit-btn").find_element_by_tag_name('input').click()

In [23]:
import pandas as pd

In [26]:
df_untappd = pd.read_csv('data/untappd_beer_ratings.csv')
df.head()

,Unnamed: 0,id,name,brewery,style,abv,ibu,rating
0,0,c4f2KE,Manifest Destiny ‘Murican Pilsner,Sierra Nevada Brewing Co.,Pilsner - Other,4.5% ABV,N/A IBU,(3.4)
1,1,c4f2KE,M'rica Pilsner,Lookout Brewing Co.,Pilsner - Other,5.4% ABV,N/A IBU,(3.34)
2,2,c4f2KE,Strohm's 'Merican Light Pilsner,Armstrong Ales,Pilsner - Other,3.2% ABV,12 IBU,(3.833)
3,3,c4f2KE,'Murican Pilsner (August 2013),Bad Dog Homebrewing,Homebrew | Pilsner - Other,5.6% ABV,N/A IBU,(0)
4,4,c4f2KE,'Murican Pilsner,Doster Brewing Co,Homebrew | Pilsner - Other,4.7% ABV,34 IBU,(0)

In [27]:
df.shape

(1231, 8)

In [28]:
df_beers = pd.read_csv('data/beers.csv')
df_beers.head()

,Unnamed: 0,beer_id,name,display_name,abv,style_id,year,glass_id,organic,brewery_id,retired,status
0,0,c4f2KE,'Murican Pilsner,'Murican Pilsner,5.5,98.0,NaN,4.0,N,nHLlnK,N,verified
1,1,zTTWa2,11.5° PLATO,11.5° PLATO,4.5,164.0,NaN,NaN,N,nHLlnK,N,verified
2,2,zfP2fK,12th Of Never,12th Of Never,5.5,25.0,NaN,NaN,N,nLsoQ9,N,verified
3,3,xwYSL2,15th Anniversary Ale,15th Anniversary Ale,NaN,5.0,NaN,NaN,N,TMc6H2,N,verified
4,4,UJGpVS,16 So Fine Red Wheat Wine,16 So Fine Red Wheat Wine,11.0,35.0,NaN,NaN,N,TMc6H2,N,verified

In [30]:
names = []
for i in df_untappd['name']:
    for j in df_beers['name']:
        if j == i:
            names.append(j)

In [31]:
len(names)

167

In [33]:
df_a = df_beers[df_beers['name'].apply(lambda x: x in names)]
df_a.head()

,Unnamed: 0,beer_id,name,display_name,abv,style_id,year,glass_id,organic,brewery_id,retired,status
0,0,c4f2KE,'Murican Pilsner,'Murican Pilsner,5.5,98.0,NaN,4.0,N,nHLlnK,N,verified
3,3,xwYSL2,15th Anniversary Ale,15th Anniversary Ale,NaN,5.0,NaN,NaN,N,TMc6H2,N,verified
4,4,UJGpVS,16 So Fine Red Wheat Wine,16 So Fine Red Wheat Wine,11.0,35.0,NaN,NaN,N,TMc6H2,N,verified
9,9,O78ldO,1904 American Red Lager,1904 American Red Lager,5.0,93.0,NaN,NaN,N,BznahA,N,verified
15,15,WcP2Ww,20th Street Ale Crystal,20th Street Ale Crystal,7.3,NaN,NaN,NaN,N,nHLlnK,N,verified

In [35]:
df_b = df_untappd[df_untappd['name'].apply(lambda x: x in names)]
df_b.head()

,Unnamed: 0,id,name,brewery,style,abv,ibu,rating
4,4,c4f2KE,'Murican Pilsner,Doster Brewing Co,Homebrew | Pilsner - Other,4.7% ABV,34 IBU,(0)
23,23,xwYSL2,15th Anniversary Ale,Lighthouse Brewing Company,Strong Ale - English,8% ABV,N/A IBU,(3.743)
24,24,xwYSL2,15th Anniversary Ale,Southampton Publick House,Old Ale,9.5% ABV,N/A IBU,(3.344)
26,26,xwYSL2,15th Anniversary Ale,Otto's Pub and Brewery,Belgian Strong Golden Ale,9% ABV,N/A IBU,(3.806)
27,27,xwYSL2,15th Anniversary Ale,Island Brewing Company,Scotch Ale / Wee Heavy,9.2% ABV,34 IBU,(4.09)

In [45]:
df_all = pd.merge(df_a, df_b, on='name')
df_all.head()

,Unnamed: 0_x,beer_id,name,display_name,abv_x,style_id,year,glass_id,organic,brewery_id,retired,status,Unnamed: 0_y,id,brewery,style,abv_y,ibu,rating
0,0,c4f2KE,'Murican Pilsner,'Murican Pilsner,5.5,98.0,NaN,4.0,N,nHLlnK,N,verified,4,c4f2KE,Doster Brewing Co,Homebrew | Pilsner - Other,4.7% ABV,34 IBU,(0)
1,3,xwYSL2,15th Anniversary Ale,15th Anniversary Ale,NaN,5.0,NaN,NaN,N,TMc6H2,N,verified,23,xwYSL2,Lighthouse Brewing Company,Strong Ale - English,8% ABV,N/A IBU,(3.743)
2,3,xwYSL2,15th Anniversary Ale,15th Anniversary Ale,NaN,5.0,NaN,NaN,N,TMc6H2,N,verified,24,xwYSL2,Southampton Publick House,Old Ale,9.5% ABV,N/A IBU,(3.344)
3,3,xwYSL2,15th Anniversary Ale,15th Anniversary Ale,NaN,5.0,NaN,NaN,N,TMc6H2,N,verified,26,xwYSL2,Otto's Pub and Brewery,Belgian Strong Golden Ale,9% ABV,N/A IBU,(3.806)
4,3,xwYSL2,15th Anniversary Ale,15th Anniversary Ale,NaN,5.0,NaN,NaN,N,TMc6H2,N,verified,27,xwYSL2,Island Brewing Company,Scotch Ale / Wee Heavy,9.2% ABV,34 IBU,(4.09)

In [46]:
df_all = df_all[['beer_id', 'name', 'abv_x', 'abv_y','style', 'style_id', 'glass_id', 'organic', 'brewery', 'brewery_id', 'retired', 'ibu', 'rating']]
df_all.head()

,beer_id,name,abv_x,abv_y,style,style_id,glass_id,organic,brewery,brewery_id,retired,ibu,rating
0,c4f2KE,'Murican Pilsner,5.5,4.7% ABV,Homebrew | Pilsner - Other,98.0,4.0,N,Doster Brewing Co,nHLlnK,N,34 IBU,(0)
1,xwYSL2,15th Anniversary Ale,NaN,8% ABV,Strong Ale - English,5.0,NaN,N,Lighthouse Brewing Company,TMc6H2,N,N/A IBU,(3.743)
2,xwYSL2,15th Anniversary Ale,NaN,9.5% ABV,Old Ale,5.0,NaN,N,Southampton Publick House,TMc6H2,N,N/A IBU,(3.344)
3,xwYSL2,15th Anniversary Ale,NaN,9% ABV,Belgian Strong Golden Ale,5.0,NaN,N,Otto's Pub and Brewery,TMc6H2,N,N/A IBU,(3.806)
4,xwYSL2,15th Anniversary Ale,NaN,9.2% ABV,Scotch Ale / Wee Heavy,5.0,NaN,N,Island Brewing Company,TMc6H2,N,34 IBU,(4.09)

In [51]:
# df_all['abv_y'] = df_all['abv_y'].apply(lambda x: x.strip('% ABV'))
# df_all['abv_y'] = df_all['abv_y'].apply(lambda x: x.replace('N/', '0'))
# df_all['abv_y'] = df_all['abv_y'].astype(float)
df_all.head()
df_all.tail()

,beer_id,name,abv_x,abv_y,style,style_id,glass_id,organic,brewery,brewery_id,retired,ibu,rating
162,ZzpzSy,Tickled Pink,6.6,4.7,Lager - Pale,72.0,NaN,N,Deluxe Brewing,q6vJUK,N,17 IBU,(0)
163,ZzpzSy,Tickled Pink,6.6,4.8,Fruit Beer,72.0,NaN,N,3 Brasseurs | 3 Brewers,q6vJUK,N,22 IBU,(0)
164,0tWTUV,Tmavé,5.4,5.0,Lager - Euro Dark,83.0,NaN,N,Zero Gravity Craft Brewery,VEY3Xa,N,23 IBU,(3.734)
165,JaS6T7,Torpedo Extra IPA,7.2,7.2,IPA - American,30.0,5.0,N,Sierra Nevada Brewing Co.,nHLlnK,N,65 IBU,(3.747)
166,eXzIZz,TripleTail,5.5,5.5,IPA - American,30.0,NaN,N,SweetWater Brewing Company,TMc6H2,N,57 IBU,(3.642)

In [42]:
df_all.shape

(167, 12)

In [43]:
df_all['name'].nunique()

75

In [52]:
correct = []
for i in range(df_all.shape[0]):
    if df_all.loc[i, 'abv_x'] == df_all.loc[i, 'abv_y']:
        correct.append(i)

In [55]:
df_all.iloc[correct].shape

(59, 13)

In [56]:
df_all['name'].value_counts()

A Beer Named Sue                        20
Summerfest                              10
Agave Wheat                              8
15th Anniversary Ale                     7
Tickled Pink                             7
The Gimp                                 6
Summer Pils                              5
Terra Incognita                          5
Anniversary Ale                          4
21st Anniversary                         4
Summer Rye                               4
Afternooner                              4
Summer Ale                               3
Ten FIDY                                 3
Thunder Stout                            3
The Dogfather                            3
Sundog                                   3
Pale Ale                                 2
Summer Gruit Ale                         2
The Poet                                 2
420 Strain G13 IPA                       2
Tangerine Space Machine                  2
420 Extra Pale Ale                       2
Take Two Pils                            2
The Pit & The Pendulum with Cherries     2
The Pit & The Pendulum                   2
IPA                                      2
Citra Pale Ale                           1
All Colorado Wet Hop Pale Ale            1
Tequiza                                  1
                                        ..
Sun Dog Amber Wheat                      1
Festive Ale                              1
Javanilla Ten FIDY                       1
20th Street Ale Magnum                   1
The 1759                                 1
The Waldos’ Special Ale (2018)           1
American Summer Hoppy Wit                1
India Pale Ale                           1
'Murican Pilsner                         1
The Down Low Ale                         1
Tmavé                                    1
16 So Fine Red Wheat Wine                1
TripleTail                               1
Summer Session                           1
Dale's Pale Ale                          1
Squeeze Box                              1
SummerBright Ale                         1
1904 American Red Lager                  1
5 C's IPA                                1
Through the Brambles                     1
LowRYEder IPA                            1
Tasmanian Hatter                         1
Taz IPA                                  1
Ten FIDY (2016)                          1
Maximus                                  1
Thunder Ann                              1
All Colorado Apricot Wheat               1
Super Cluster                            1
The Hairy Eyeball                        1
ABLE Best Britter                        1
Name: name, Length: 75, dtype: int64